body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    margin-bottom: 0;
}

a {
    color: black;
}

a:hover {
    color: #FF4C68;
}

#features,
#testimonials,
#press,
#pricing,
#cta,
#footer {
    padding: 7%;
}

.bg-tindog-red {
    background-color: #FF4C68;
}

.border-tindog-red {
    border-color: #FF4C68;
}

#title {
    background-color: #FF4C68;
    color: white;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

.container-sm {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin: 0;
    padding: 0;
}

#title .col-lg-6,
#title .col-lg-4 {
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    /* padding: 0 1.125rem; */
    /* gap: 1.125rem; */
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Hero image */

.hero-img {
    max-width: 60%;
    object-fit: contain;
    transform: rotate(20deg);
    position: absolute;
}

/* Features section */

#features {
    background-color: white;
    /* padding: 7% 15%; */
    text-align: center;
    position: relative;
    z-index: 1;
}

#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}

#features i:hover {
    color: #FF4C68;
}

.feature-box {
    padding: 5%;
}

/* Testimonials section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
    /* padding: 2rem 0; */
}

#testimonials p {
    color: white;
    font-style: italic;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 1.25rem;
}

.carousel-item {
    padding: 0 15%;
}

/* Press section */

#press {
    text-align: center;
    /* background-color: #ef8172; */
    /* padding: 2rem 0; */
}

.press-logo {
    width: 18%;
}

.press-logos {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Pricing section */

#pricing {
    padding: 6.25rem;
    text-align: center;
}

.plan-price-txt {
    color: black;
}

.pricing-col {
    /* padding: 3%; */
}

/* Download section */

#cta {
    text-align: center;
    background-color: #FF4C68;
    color: white;
    /* padding: 10%; */
}

.cta-btns {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}
/* Footer */

#footer {
    text-align: center;
    background-color: white;
    /* padding: 5%; */
}

.social-icons {
    display: flex;
    place-content: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

/* Media queries */

@media (max-width: 78.15rem) and (min-width: 60rem) {
   
    h1 {
        font-size: 2.5rem;
    }

    .hero-img {
        position: static;
        /* transform: rotate(0); */
    }
}

@media (max-width: 62rem) {

    #title {
        text-align: center;
        margin-bottom: -2rem;
    }

    h1 {
        font-size: 2.5rem;
        
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .hero-img {
        width: 100%;
        position: relative;
        bottom: -2rem;
        transform: rotate(-5deg);
        z-index: 2;
    }

    #testimonials i {
        font-size: 1.5rem;
    }

    .testimonial-img {
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 0.4rem;
    }

    #testimonials p {
        font-size: 0.8rem;
    }

    #testimonials h2 {
        font-size: 1rem;
    }

    .press-logos {
        padding: 8%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .press-logo {
        width: 40%;
    }

    #features,
    #testimonials,
    #press,
    #pricing,
    #cta,
    #footer {
        padding: 20% 5%;
    }

    .feature-box {
        /* padding: 10% 5%; */
    }

}